body{
  background-color: #fff;
}

.card {
  width: 12%;
  border: 1px solid grey;
  margin: 1%;
  padding: 10px 0;
  background-color:aqua;
}

.weather-cards {
  display: flex;
  justify-content: center;

}

.header{
  margin: 50px;
}

h5{
  font-size: 15px;
  color: black;
}
